%h3= link_to 'Request a story', new_project_url
%h2 Current Story Ideas
%p
  Filter by: 
  =Project.available_statuses.map{ |s| link_to_unless s == @status, s, projects_url(:status => s) }.join(', ')
%table
  %thead
    %tr
      %th Story
      %th Created
      %th Raised
  %tbody
    -@projects.each do |p|
      %tr
        %td= link_to h(p.name), p
        %td= p.created_at
        %td= "#{points p.bounty.raised} of #{points p.bounty.amount}"