%h2
  = @project.name 
  (
  =link_to "Edit", edit_project_url(@project)
  )
%div.details
  -if @project.status == 'draft'
    %p 
      This project will be public when total pledges reach 10%. 
      = (@project.bounty.amount / 10) - @project.bounty.pledges.total
      to go!
  -if @project.status == 'live'
    %p
      This project is public and accepting pledges.  It's currently 
      = (@project.bounty.pledges.total / @project.bounty.amount) * 10
      \% funded.
      = (@project.bounty.amount - @project.bounty.pledges.total)
      points to go.
  %ul
    -@project.bounty.pledges.each do |pledge|
      %li="#{pledge.amount} from #{pledge.user.name} on #{pledge.created_at}"
%p= @project.description