#status
  -if @current_user
    %p
      = "Hello #{@current_user.email}"
      (
      = link_to 'Logout', :controller => 'users', :action => 'logout'
      )
    -form_for Credit.new do |form|
      %strong
        = "You have #{@current_user.available_credit.to_i} available credit"
      %br
      Add:
      %input{:type => 'submit', :value => '1000', :name => 'credit[amount]'}
      %input{:type => 'submit', :value => '2500', :name => 'credit[amount]'}
      %input{:type => 'submit', :value => '5000', :name => 'credit[amount]'}

    %table#user-projects
      %thead
        %tr
          %th{:colspan => 2} Your Projects
      %tbody
        -@current_user.projects.each do |p|
          %tr
            %td= link_to h(p.name), p
            %td= p.status
  -else
    -form_tag :controller => 'users', :action => 'login' do
      %p
        =hidden_field_tag :return_to, h(request.path)
        %input{ :type => 'text', :name => 'email' }
        %input{ :type => 'submit', :value => 'Login' }