!!!
%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'partials/_base.css'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = javascript_include_tag 'http://api.mixpanel.com/site_media/js/api/mpmetrics.js'
      
    = javascript_include_tag 'jquery-1.3.2.min.js'
    = javascript_include_tag 'jquery.autocomplete.min.js'
    = javascript_include_tag 'application.js'
    
  %body{:class => 'bp three-col'}
    #container
      #header
        %h1 
          = link_to 'Resistor!', home_path
        #login
          -if @current_user
            = "Hello #{@current_user.email}"
            (
            = link_to 'Logout', :controller => 'users', :action => 'logout'
            )
          -else
            -form_tag :controller => 'users', :action => 'login' do
              %p
                =hidden_field_tag :return_to, h(request.path)
                %input{ :type => 'text', :name => 'email' }
                %input{ :type => 'submit', :value => 'Login' }
      #content
        =yield